.aboutdemo-section {
  width: 100%;
  padding: 50px 10%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}


/* Dection - 1 */
.about-section1-container {
  width: 100%;
  margin: 0 auto;
}

.about-section1-text {
  text-align: center;
  margin-bottom: 40px;
}

.about-section1-text h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #111;
}

.about-section1-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

/* Grid */
.about-section1-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 60px;
}

/* Each item */
.about-stat-item {
  width: 100%;
}

/* Top row: label + % */
.about-stat-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.about-stat-label {
  font-size: 16px;
  font-weight: 600;
  color: #222;
}

.about-stat-value {
  font-size: 16px;
  font-weight: 600;
  color: #222;
}

/* Line with outline */
.about-stat-line-bg {
  width: 100%;
  height: 8px;               /* little thicker for better look */
  border: 1px solid #ccc;    /* outline */
  border-radius: 20px;
  overflow: hidden;
  background: transparent;
}

/* Animated fill */
.about-stat-line-fill {
  height: 100%;
  background: #3F412B;       /* theme color */
  border-radius: 20px;
}


/* Responsive */
@media (max-width: 768px) {
   .about-section1-text h2 {
    font-size: 28px;
  }

  .about-section1-stats {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
