.contact-us {
  padding: 45px 0;
  background: #f9f9f9;
}

/* BOXES */
.contact-us-box-row {
  margin-bottom: 60px;
  row-gap: 30px;
}

.contact-us-box {
  background: #ffffff;
  padding: 40px 25px;
  text-align: center;
  height: 100%;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.contact-us-icon-box {
  width: 70px;
  height: 70px;
  background: #3F412B;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us-icon-box svg {
  color: #fff;
  font-size: 28px;
}

.contact-us-box-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.contact-us-box-main {
  font-size: 16px;
  font-weight: 600;
  color: #0e2a34;
  margin-bottom: 6px;
}

.contact-us-box-desc {
  font-size: 14px;
  color: #666;
}

/* FORM + MAP */
.contact-us-form-wrapper {
  margin-bottom: 60px;
}

.contact-us-map {
  width: 100%;
  overflow: hidden;
}
