.contact-form {
  background: #ffffff;
  padding: 40px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.contact-form-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 45px;
  color: #3F412B;
}

.contact-form-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form-row {
  display: flex;
  gap: 20px;
}

.contact-form-input {
  flex: 1;
  padding: 12px 14px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.contact-form-textarea {
  padding: 12px 14px;
  border: 1px solid #ddd;
  font-size: 14px;
  resize: none;
}

.contact-form-btn {
  width: fit-content;
  background: #3F412B;
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-weight: 600;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-form-row {
    flex-direction: column;
  }

  .contact-form {
    padding: 25px;
  }
}
