.home-about {
  padding: 60px 20px;
}

.home-about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.home-about-left {
  flex: 1;
  max-width: 50%
}
.about-img {
  max-width: 100%;
  border-radius: 10px;
}
.about-heading-div{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
text-align: left;
margin-right: auto;
margin-left: 35px;
margin-bottom: 2rem;
}
.about-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-subsection {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.about-icon {
  font-size: 24px !important;
  color: #007bff;
  margin-top: 5px;
}

.about-subheading {
  font-size: 1.2rem;
  margin: 0;
}

.about-desc {
  margin: 5px 0 0;
  color: #555;
}

.home-about-right {
  flex: 1;
  max-width: 45% !important;
  height: auto !important;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 768px) {
  .home-about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-subsection {
    justify-content: center;
    text-align: left;
  }

  .home-about-right {
    margin-top: 20px;
    min-width: 100%
  }
    .home-about-left{
        text-align: left;
    margin-top: 20px;
    min-width: 100%
  }
}
