.home-res-section {
  padding: 45px 0;
  /* background: #0a0a0a; */
  color: #000;
  position: relative;
}

/* TEXT */
.home-res-heading {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
}

.home-res-desc {
  max-width: 600px;
  margin: 0 auto 60px;
  opacity: 0.8;
}

/* GRID */
.home-res-grid {
    margin: auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 0.6s ease;
  overflow: hidden !important;
  
}

/* COMMON */
.home-res-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.home-res-col img {
  width: 100%;
  object-fit: cover;
  border-radius: 1px;
  transition: all 0.6s ease;
}

/* SIZES */
.col-1 img,
.col-5 img {
  width: 454px;
  height: 490px;
}

.col-2 img:first-child,
.col-4 img:last-child {
  width: 290px;
  height: 290px;
}

.col-2 img:last-child,
.col-4 img:first-child {
  width: 290px;
  height: 180px;
}

/* DEFAULT CENTER IMAGE */
.col-3 img {
  width: 350px;
  height: 490px;
  transition: width 0.6s ease;
position: relative;
  overflow: hidden;
}

/* ACTIVE → ONLY WIDTH INCREASE */
.home-res-grid.active .col-3 img {
  width: 620px; 
}


/* overlay base */
.center-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

/* show when active */
.center-overlay.show {
  opacity: 1;
  transform: translateY(0);
}

/* text */
.center-overlay p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 15px;
  max-width: 450px;
  text-align: center;
  /* margin: auto; */
}

/* button */
.floor-btn {
  position: relative;
  padding: 10px 30px 10px 20px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease;
}

/* arrow */
.floor-btn::after {
  content: ">";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

/* fill layer */
.floor-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  z-index: 0;
  transition: width 0.4s ease;
}

/* text above fill */
.floor-btn {
  z-index: 1;
}

.floor-btn span {
  position: relative;
  z-index: 2;
}

/* hover effect */
.floor-btn:hover::before {
  width: 100%;
}

/* arrow color change */
.floor-btn:hover::after {
color: #000 !important;
   
  transform: translateY(-50%) translateX(3px);
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .home-res-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .col-3 {
    order: -1;
  }
}