.exclusive {
  margin-top: 0%;
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: #3f412b;
}

.exclusive-container {
  margin: auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-wrap: wrap;
  border-radius: 25px;
}

/* Left Side */
.exclusive-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50% !important;
  background-color: #f5f5f5;
  padding: 0px;
}

.exclusive-image-wrapper {
  position: relative;   /* 🔥 important for overlay thumbs */
  width: 100%;
  overflow: hidden;
}

/* Big Image */
.exclusive-image {
  width: 100%;
  height: 580px;
  object-fit: cover;
  display: block;
}

/* Fade + Zoom Animation */
.fade-zoom {
  animation: fadeZoomIn 0.6s ease forwards;
}

@keyframes fadeZoomIn {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* Thumbnails OVER image at bottom */
.exclusive-thumbs.overlay {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  /* background: rgba(0, 0, 0, 0.4); */
  padding: 8px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
}

.exclusive-thumb {
  width: 70px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  opacity: 0.7;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.exclusive-thumb:hover {
  opacity: 1;
  transform: scale(1.05);
}

.exclusive-thumb.active {
  opacity: 1;
  border: 2px solid #A1BE28;
}

/* Right Side */
.exclusive-right {
  flex: 1;
  margin: auto;
  max-width: 42% !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.exclusive-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.exclusive-description {
  font-size: 1rem;
  color: #fff;
  line-height: 1.6;
}

.exclusive-points {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.exclusive-point {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  color: #fff;
}

.point-icon {
  color: #A1BE28;
  font-size: 18px;
}

.exclusive-btn {
  width: fit-content;
  margin-top: 15px;
  padding: 8px 20px;
  background: none;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #b6d83a;;
}

.exclusive-btn:hover {
  background: #b6d83a;
}

/* Responsive */
@media (max-width: 768px) {
  .exclusive-container {
    flex-direction: column;
  }

  .exclusive-left {
    width: 100% !important;
  }

  .exclusive-image {
    height: 320px;
  }

  .exclusive-thumb {
    width: 55px;
    height: 40px;
  }
}
