.homeproducts-section {
  padding: 25px 0;
  margin-top: 3.5%;
  /* background: #3F412B; */
}

.slick-slide {
  display: block ;
  justify-content: center;
  margin: auto;
}

.homeproducts-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #222;
}

.homeproducts-slide {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
}

.homeproducts-card {
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 12px;
  overflow: hidden ;
  transition: transform 0.4s ease;
  margin: auto;
  margin-bottom: 2rem;
}
.homeproducts-card:hover {
 transform: scale(1.05);
}
.homeproducts-card img {
  height: 225px;
  object-fit: cover;
}
.homeproducts-price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3F412B;
  margin-bottom: 8px;
}

.homeproducts-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.homeproducts-description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 12px;
}

.homeproducts-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeproducts-icons span {
  margin-right: 15px;
  font-size: 0.9rem;
  color: #444;
  display: flex;
  align-items: center;
  gap: 5px;
}

.homeproducts-booknow {
  font-weight: 600;
  color: #3F412B;
  cursor: pointer;
  transition: color 0.3s;
}

.homeproducts-booknow:hover {
  color: #0056b3;
}

/* Mobile Fix: 95% width + centered */
@media screen and (max-width: 768px) {
.homeproducts-card {
  min-width: 100% !important;
  background: #3F412B !important;
  margin: 0 auto 2rem auto;
}
}
