.pagetopbanner {
  position: relative;
  width: 100%;
  height: 350px; /* as you wanted */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagetopbanner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* black overlay */
}

.pagetopbanner-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
}

.pagetopbanner-content h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.pagetopbanner-breadcrumb {
    margin-top: 15px;
    border: 1px solid #fff;
    border-radius: 30px;
  font-size: 16px;
  padding: 5px 11px;
  color: #fff;
}

.pagetopbanner-breadcrumb a {
  color: #ddd;
  text-decoration: none;
  font-weight: 600;
}

.pagetopbanner-breadcrumb a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .pagetopbanner {
    height: 260px;
  }

  .pagetopbanner-content h1 {
    font-size: 28px;
  }
}
