body{
  /* margin-top: 6rem !important; */
}
.App{
    font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}
/* Initial state: hidden & zoomed out */
.app-wrapper {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s ease, transform 1s ease;
}

/* When preloader finishes */
.app-wrapper.app-show {
  opacity: 1;
  transform: scale(1);
}
.app-content {
  transform: translateY(80px);
  opacity: 0;
  transition: all 1s ease;
}

.app-content.show {
  transform: translateY(0);
  opacity: 1;
}

/* Example: navbar reveal on scroll */
.navbar {
  position: sticky;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.6s ease;
}

body.scrolled .navbar {
  transform: translateY(0);
}
.page-heading{
  font-size: 38px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}
.page-subheading{
  font-size: 20px !important;
  font-weight: 600;
}
.page-description{
  font-size: 17px !important;
  font-weight: 500 !important;
}
.heading-center-underline {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}

.heading-center-underline::after {
  content: "";
  display: block;
  width: 99px;
  height: 2px;              
  background-color: #A1BE28;  
  margin: 0px auto 20px auto !important;      
  border-radius: 2px;
}
@media (max-width: 768px) {
  .page-heading {
    font-size: 26px !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
    line-height: 1.2;
  }

  .page-subheading {
    font-size: 18px !important;
    font-weight: 600;
    line-height: 1.3;
  }

  .page-description {
    font-size: 16.5px !important;
    font-weight: 500 !important;
    line-height: 1.5;
  }
}